# Allow access to all files in the assets folder (CSS, JS, images, etc.)
<IfModule authz_core_module>
    <FilesMatch "\.(css|js|jpg|jpeg|png|gif|woff|woff2|ttf|eot|svg)$">
        Require all granted
    </FilesMatch>
</IfModule>

<IfModule !authz_core_module>
    <FilesMatch "\.(css|js|jpg|jpeg|png|gif|woff|woff2|ttf|eot|svg)$">
        Allow from all
    </FilesMatch>
</IfModule>
